@charset "UTF-8";
section {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  section ::-webkit-scrollbar {
    width: 20px; }
    @media screen and (max-width: 450px) {
      section ::-webkit-scrollbar {
        width: 5px; } }
  section ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; }
  section ::-webkit-scrollbar-thumb {
    background: #ff3c00; }
  section ::-webkit-scrollbar-thumb:hover {
    background: #42709e; }

@media screen and (max-width: 450px), screen and (max-width: 768px) and (orientation: landscape) {
  .xs-visibity.visibityclose {
    display: none; } }

@media screen and (max-width: 450px), screen and (max-width: 768px) and (orientation: landscape) {
  .xs-visibity.visibityopen {
    display: block; } }

@-webkit-keyframes animationOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes animationOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes animationOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animationOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.margin0 {
  margin: 0 0 0 0; }

.margin1 {
  margin: 10px 0 0 0; }

.margin2 {
  margin: 20px 0 0 0; }

.margin3 {
  margin: 30px 0 0 0; }

.padding0 {
  padding: 0 0 0 0; }

@media screen and (max-width: 768px) and (orientation: landscape) {
  .landscape-6 {
    width: 50%; }
  .landscape-12 {
    width: 96%; } }

/* \/\/--- Jeneral ---\/\/ */
.display_none {
  display: none !important; }

body {
  direction: rtl;
  text-align: right;
  font-family: "Assistant", Helvetica, sans-serif; }

p {
  font-size: 16px; }

section {
  display: block;
  margin-bottom: 20px; }

.label-bold {
  font-size: 35px;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .label-bold {
      font-size: 25px; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .label-bold {
      font-size: 20px; } }
  @media screen and (max-width: 450px) {
    .label-bold {
      font-size: 14px; } }

.label-light {
  font-size: 35px;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    .label-light {
      font-size: 25px; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .label-light {
      font-size: 20px; } }
  @media screen and (max-width: 450px) {
    .label-light {
      font-size: 14px; } }

.arrow-right {
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 19px solid #d9f4ff; }

.dragscroll {
  cursor: url(../images/Cat-Track-icon.png), auto;
  overflow: scroll; }

/* \/\/--- Top line ---\/\/ */
.header-address {
  background: #fdc415;
  background: -webkit-linear-gradient(legacy-direction(to right), #fdc415, #ff3c00);
  background: linear-gradient(to right, #fdc415, #ff3c00);
  height: 50px; }
  @media screen and (max-width: 450px) {
    .header-address {
      height: 24px; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .header-address {
      height: 24px; } }
  .header-address .brand-cat img {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .header-address .brand-cat img {
        margin-top: 15px; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .header-address .brand-cat img {
        right: 8px;
        width: 32px; } }
    @media screen and (max-width: 450px), screen and (max-width: 768px) and (orientation: landscape) {
      .header-address .brand-cat img {
        margin-top: 0px; } }
  .header-address h1.main-address {
    color: #fff;
    line-height: 8px; }
    @media screen and (max-width: 450px), screen and (max-width: 768px) and (orientation: landscape) {
      .header-address h1.main-address {
        margin-top: 0px; } }

/* \/\/--- Intro -Event ---\/\/ */
.poster-header {
  background-image: url(../images/poster2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 450px), screen and (max-width: 768px) and (orientation: landscape) {
    .poster-header {
      background-image: inherit;
      background-color: #d9f4ff;
      padding-bottom: 5px; } }
  .poster-header .header .content-wrapper {
    animation-delay: .3s; }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .poster-header .header .content-wrapper {
        width: 50%; } }
  .poster-header .date-wrapper {
    padding: 20px;
    text-align: center; }
    @media screen and (max-width: 450px) {
      .poster-header .date-wrapper {
        padding: 0px; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .poster-header .date-wrapper {
        width: 50%; } }
    .poster-header .date-wrapper date {
      font-size: 60px;
      font-family: 'Poppins';
      line-height: 1.3em;
      color: #ff3c00; }
      .poster-header .date-wrapper date .poster-date {
        font-weight: 700; }
      .poster-header .date-wrapper date .poster-hour {
        font-weight: 300;
        letter-spacing: 0.1em;
        display: block;
        background-color: #ff3c00;
        color: #fff;
        line-height: 1em;
        padding: 5px 0 0 0; }
    .poster-header .date-wrapper .poster-location {
      color: #fff;
      background-color: #ff3c00;
      font-size: 20px;
      margin-top: -12px;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 5px; }
  .poster-header h2 {
    color: #000;
    font-size: 60px;
    font-weight: 700; }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .poster-header h2 {
        font-size: 26px; } }
    @media screen and (max-width: 450px) {
      .poster-header h2 {
        font-size: 26px;
        margin: 0;
        text-align: center; } }
  .poster-header p {
    font-size: 30px;
    line-height: 1.3em;
    font-weight: 700; }
    @media screen and (max-width: 450px) {
      .poster-header p {
        font-size: 26px;
        margin: 0;
        text-align: center; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .poster-header p {
        font-size: 26px; } }

.content-changer-map-buttons h3 {
  font-size: 30px;
  line-height: 30px;
  margin: 5px 5px; }
  @media screen and (max-width: 768px) {
    .content-changer-map-buttons h3 {
      font-size: 18px;
      font-weight: 700;
      color: #42709e; } }

@media screen and (max-width: 768px) {
  .content-changer-map-buttons {
    text-align: center;
    background-color: #e2e2e2; } }

@media screen and (max-width: 768px) {
  .content-changer-info-buttons {
    text-align: center; } }

.content-changer-info-buttons button {
  color: #42709e;
  background-color: #ffffff;
  font-size: 30px;
  border: none;
  margin: 5px 5px; }
  .content-changer-info-buttons button .menu-icon {
    color: #fdc415;
    font-size: 25px;
    width: 30px;
    transition: color .2s ease; }
  .content-changer-info-buttons button:hover .menu-icon {
    color: #ff3c00; }
  @media screen and (max-width: 1557px) {
    .content-changer-info-buttons button {
      font-size: 18px;
      padding: 0; } }

/*map*/
.map-wrapper {
  overflow: scroll;
  height: 2000px;
  position: relative; }
  .map-wrapper img {
    width: 1700px;
    position: absolute;
    top: -70px;
    right: -317px; }

.street-info-wrapper {
  background-color: #fff; }
  .street-info-wrapper .top-close {
    color: #ff3c00;
    background-color: #d9f4ff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 1;
    float: left; }
  @media screen and (max-width: 768px) {
    .street-info-wrapper {
      position: absolute;
      top: 0px;
      right: 0;
      padding: 0px 0 10px 0;
      background-color: #fff; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .street-info-wrapper {
      position: absolute;
      top: 0px;
      padding: 0px 0 10px 0;
      background-color: #fff; } }
  .street-info-wrapper h2 {
    font-size: 30px;
    line-height: 1em;
    font-weight: 700; }
  .street-info-wrapper .menu-external-links button {
    width: 60px;
    height: 60px;
    color: #42709e;
    background-color: #ffffff;
    text-align: center;
    font-size: 30px;
    border: 3px solid #d9f4ff;
    margin: 5px 5px;
    -webkit-transition-property: background,color,box-shadow;
    -moz-transition-property: background,color;
    -o-transition-property: background,color;
    transition-property: background,color;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }
    .street-info-wrapper .menu-external-links button:hover {
      color: #fff;
      background-color: #42709e; }
  .street-info-wrapper .gallery-wrapper .picture-unit {
    position: relative;
    width: 46%;
    float: right;
    height: 230px;
    margin: 2%;
    padding: 0;
    overflow: hidden; }
    @media screen and (max-width: 450px), screen and (max-width: 1200px) {
      .street-info-wrapper .gallery-wrapper .picture-unit {
        width: 100%; } }
    .street-info-wrapper .gallery-wrapper .picture-unit img {
      max-width: fit-content;
      min-width: 100%;
      height: auto; }
  .street-info-wrapper .gallery-wrapper .picture-ïnfo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.63);
    text-align: center;
    color: #fff;
    -webkit-transition: width,height,background;
    /* Safari */
    transition: width,height,background;
    -moz-transition: width,height,background;
    -o-transition: width,height,background;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s; }
    .street-info-wrapper .gallery-wrapper .picture-ïnfo .icon {
      color: #fdc415;
      font-size: 20px;
      line-height: 28px;
      height: 30px;
      width: 30px;
      background-color: #fff;
      border-radius: 50%;
      margin: 10px 0px;
      border: 2px solid #d9f4ff; }
    .street-info-wrapper .gallery-wrapper .picture-ïnfo p {
      font-family: "Assistant", Helvetica, sans-serif;
      font-size: 20px;
      display: none; }
    .street-info-wrapper .gallery-wrapper .picture-ïnfo:hover {
      width: 100%;
      height: 268px;
      background: rgba(0, 0, 0, 0.63); }
      .street-info-wrapper .gallery-wrapper .picture-ïnfo:hover p {
        display: block;
        -webkit-animation-delay: 2s;
        /* Safari 4.0 - 8.0 */
        animation-delay: 2s;
        -o-animation: 2s;
        -moz-animation: 2s;
        -webkit-animation: animationOpacity 2s linear;
        /* Safari 4+ */
        -moz-animation: animationOpacity 2s linear;
        /* Fx 5+ */
        -o-animation: animationOpacity 2s linear;
        /* Opera 12+ */
        animation: animationOpacity 2s linear;
        /* IE 10+, Fx 29+ */
        width: 100%;
        padding: 10px; }

/*map tabs*/
.buisness-tabs.lengthwise-icon.right-icon li.action:hover:after {
  top: 9px;
  right: -22px; }

.buisness-tabs.lengthwise-icon.right-icon li.action:after {
  top: 13px;
  right: -15px; }

.buisness-tabs.lengthwise-icon.right-icon li a span.icon {
  float: right;
  right: -5px; }

.buisness-tabs.lengthwise-icon.left-icon li {
  margin-bottom: 10px; }
  .buisness-tabs.lengthwise-icon.left-icon li.action:hover:after {
    top: 9px;
    right: auto;
    left: -17px; }
  .buisness-tabs.lengthwise-icon.left-icon li.action:after {
    top: 13px;
    right: auto;
    left: -13px; }
  .buisness-tabs.lengthwise-icon.left-icon li a span.icon {
    float: left;
    right: 5px; }

.buisness-tabs.crosswise-icon ul {
  overflow: hidden; }
  .buisness-tabs.crosswise-icon ul.width441 {
    width: 411px; }
  .buisness-tabs.crosswise-icon ul.width560 {
    width: 560px; }
  .buisness-tabs.crosswise-icon ul li {
    float: left;
    margin: 23px 0 30px 13px; }
    .buisness-tabs.crosswise-icon ul li a {
      height: 122px;
      width: 61px;
      display: block; }

.buisness-tabs.crosswise-icon.bottom-icon ul li a {
  padding-top: 5px; }

.buisness-tabs.crosswise-icon.bottom-icon ul li.action:hover:after {
  top: 110px;
  right: 13px; }

.buisness-tabs.crosswise-icon.bottom-icon ul li.action:after {
  top: 110px;
  right: 19px; }

.buisness-tabs.crosswise-icon.bottom-icon ul li a span.icon {
  bottom: -56px;
  top: auto;
  right: 5px; }

.buisness-tabs.crosswise-icon.bottom-icon ul li .business-name {
  position: absolute;
  margin-top: 0px; }

.buisness-tabs.crosswise-icon.top-icon ul li a {
  padding-top: 0px; }

.buisness-tabs.crosswise-icon.top-icon ul li.action:after {
  top: -23px;
  right: 18px; }

.buisness-tabs.crosswise-icon.top-icon ul li.action:hover:after {
  top: -23px;
  right: 13px; }

.buisness-tabs.crosswise-icon.top-icon ul li.action:after {
  top: -12px;
  right: 19px; }

.buisness-tabs.crosswise-icon.top-icon ul li a span.icon {
  bottom: 61;
  top: auto;
  right: 5px; }

.buisness-tabs.crosswise-icon.top-icon ul li .business-name {
  position: absolute;
  margin-top: 67px; }

/*map events*/
.local-event {
  position: absolute;
  width: 200px;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.6);
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  padding: 5px; }
  .local-event:hover {
    box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.6); }
  .local-event .details {
    display: none; }
  .local-event:hover .details {
    display: block; }
  .local-event.position-top-449 {
    top: 449px;
    right: 283px; }

.business-map {
  position: absolute; }
  .business-map.position1 {
    top: 94px;
    right: 35px; }
  .business-map.position2 {
    top: 141px;
    right: 239px; }
  .business-map.position3 {
    top: 94px;
    right: 474px; }
  .business-map.position4 {
    top: 94px;
    right: 239px; }
  .business-map.position5 {
    top: 331px;
    right: 539px; }
  .business-map.position6 {
    top: 486px;
    right: 925px; }
  .business-map.position7 {
    top: 1400px;
    right: 35px; }
  @media screen and (max-width: 450px) {
    .business-map {
      right: 10px; } }
  .business-map li.active {
    outline: 3px solid #d9f4ff; }
    .business-map li.active a {
      box-shadow: none; }
  .business-map li:hover a span.icon {
    background-color: #0b3967; }
  .business-map li.action.campaign:after {
    content: '\e000';
    background-color: #fdc415; }
  .business-map li.action.party:after {
    content: '\78';
    background-color: #FD1576; }
  .business-map li.action:after {
    font-family: st;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    top: 13px;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition-property: height,width,top,font-size;
    -moz-transition-property: height,width,top,font-size;
    -o-transition-property: height,width,top,font-size;
    transition-property: height,width,top,font-size;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s; }
  .business-map li.action:hover:after {
    height: 35px;
    width: 35px;
    font-size: 25px;
    top: 9px; }
  .business-map li a {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    padding: 10px 5px;
    height: 61px;
    width: 122px;
    background-color: #fff !important;
    color: #42709e;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px; }
    .business-map li a:hover {
      box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.6); }
    .business-map li a:focus {
      outline: 3px solid #d9f4ff; }
    .business-map li a span.icon {
      float: left;
      color: #fff;
      background-color: #42709e;
      height: 61px;
      width: 61px;
      position: relative;
      top: -10px;
      text-align: center;
      line-height: 58px;
      font-size: 30px;
      -webkit-transition-property: background-color;
      -moz-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }

#business_info_wrapper.business-info-wrapper {
  position: relative;
  padding-right: 0;
  background-color: #fff; }
  #business_info_wrapper.business-info-wrapper ul {
    padding: 0; }
  #business_info_wrapper.business-info-wrapper .tab-pane {
    position: relative; }
    #business_info_wrapper.business-info-wrapper .tab-pane .portrait {
      position: absolute;
      z-index: 1;
      top: 5px;
      right: 5px; }
      #business_info_wrapper.business-info-wrapper .tab-pane .portrait img {
        width: 60px;
        border: 3px solid #d9f4ff; }
  #business_info_wrapper.business-info-wrapper .top-close {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 30px;
    position: absolute;
    left: -14px;
    top: -12px;
    opacity: 1; }
    #business_info_wrapper.business-info-wrapper .top-close .fa-times {
      font-size: 30px;
      color: #ff3c00; }
  @media screen and (max-width: 450px) {
    #business_info_wrapper.business-info-wrapper h2 {
      margin-top: 10px;
      padding: 0 15px; } }
  #business_info_wrapper.business-info-wrapper img {
    width: 100%; }
  #business_info_wrapper.business-info-wrapper .contact-wrapper {
    font-size: 20px;
    line-height: 20px; }
    #business_info_wrapper.business-info-wrapper .contact-wrapper .icon {
      font-size: 40px;
      color: #ff3c00;
      margin-left: 10px; }
      @media screen and (max-width: 450px) {
        #business_info_wrapper.business-info-wrapper .contact-wrapper .icon {
          width: 40px;
          height: 40px;
          text-align: center; } }
    #business_info_wrapper.business-info-wrapper .contact-wrapper a {
      font-size: 28px;
      display: inline; }
      @media screen and (max-width: 450px) {
        #business_info_wrapper.business-info-wrapper .contact-wrapper a {
          font-size: 1.3em; } }
    #business_info_wrapper.business-info-wrapper .contact-wrapper .street {
      line-height: 40px; }
    #business_info_wrapper.business-info-wrapper .contact-wrapper .street-num {
      background-color: #ff3c00;
      width: 40px;
      height: 40px;
      color: #fff;
      padding: 5px;
      text-align: center;
      margin-left: 10px; }
    @media screen and (max-width: 450px) {
      #business_info_wrapper.business-info-wrapper .contact-wrapper {
        font-size: 1.3em; } }
  #business_info_wrapper.business-info-wrapper .text-community {
    -webkit-animation: animationOpacity 1s ease-in;
    /* Safari 4+ */
    -moz-animation: animationOpacity 1s ease-in;
    /* Fx 5+ */
    -o-animation: animationOpacity 1s ease-in;
    /* Opera 12+ */
    animation: animationOpacity 1s ease-in;
    /* IE 10+, Fx 29+ */
    border: 3px solid #d9f4ff;
    padding: 15px;
    margin-top: 20px;
    background-color: #fff; }
    #business_info_wrapper.business-info-wrapper .text-community p {
      font-size: 18px; }
    #business_info_wrapper.business-info-wrapper .text-community .action.campaign:before {
      font-family: st;
      font-size: 18px;
      content: '\e000';
      color: #fdc415; }
    #business_info_wrapper.business-info-wrapper .text-community .action.party:before {
      font-family: st;
      font-size: 18px;
      content: '\78';
      color: #FD1576; }
    #business_info_wrapper.business-info-wrapper .text-community img {
      width: 40px; }
  #business_info_wrapper.business-info-wrapper .opening-hours .open-close {
    font-size: 30px;
    text-align: right;
    line-height: 40px; }
    @media screen and (max-width: 450px) {
      #business_info_wrapper.business-info-wrapper .opening-hours .open-close {
        padding: 0;
        margin: 10px 0;
        text-align: right;
        border-bottom: 1px solid #d9f4ff; } }
  #business_info_wrapper.business-info-wrapper .opening-hours .opening-hours-info p {
    font-size: 18px; }
  @media screen and (max-width: 450px) {
    #business_info_wrapper.business-info-wrapper .opening-hours .opening-hours-info {
      padding: 0; } }
  @media screen and (max-width: 450px) {
    #business_info_wrapper.business-info-wrapper .opening-hours p {
      font-size: 1.2em;
      line-height: 1.2em; } }
  #business_info_wrapper.business-info-wrapper .social {
    text-align: center;
    line-height: 68px;
    height: 70px;
    width: 100%;
    font-size: 40px;
    border: 3px solid #42709e;
    background: #fff;
    color: #42709e;
    -webkit-transition-property: background,color,box-shadow;
    -moz-transition-property: background,color,box-shadow;
    -o-transition-property: background,color,box-shadow;
    transition-property: background,color,box-shadow;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }
    @media screen and (max-width: 450px) {
      #business_info_wrapper.business-info-wrapper .social {
        line-height: 48px;
        width: 80px;
        font-size: 30px;
        height: 50px; } }
    #business_info_wrapper.business-info-wrapper .social:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      background-color: #42709e;
      color: #fff;
      text-decoration: none; }
  @media screen and (max-width: 450px) {
    #business_info_wrapper.business-info-wrapper {
      position: absolute;
      top: 0px;
      right: 0;
      padding: 0px 0 10px 0;
      background-color: #fff; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    #business_info_wrapper.business-info-wrapper {
      position: absolute;
      top: 0px;
      padding: 0px 0 10px 0;
      background-color: #fff; } }

.campaign-info-wrapper {
  font-size: 18px; }
  .campaign-info-wrapper .sales-list ul {
    list-style: none;
    padding: 0; }
    .campaign-info-wrapper .sales-list ul li {
      margin-bottom: 15px; }
      .campaign-info-wrapper .sales-list ul li .icons {
        color: #ff3c00;
        margin-right: 5px; }
      .campaign-info-wrapper .sales-list ul li .business-name {
        color: #42709e;
        font-weight: 700;
        margin-right: 5px; }
      .campaign-info-wrapper .sales-list ul li .campaign-string {
        font-size: 20px;
        color: #42709e; }
  @media screen and (max-width: 450px) {
    .campaign-info-wrapper {
      position: absolute;
      top: 0px;
      right: 0;
      padding: 0px 0 10px 0;
      background-color: #fff; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .campaign-info-wrapper {
      position: absolute;
      top: 0px;
      padding: 0px 0 10px 0;
      background-color: #fff; } }
  .campaign-info-wrapper .top-close {
    color: #ff3c00;
    background-color: #d9f4ff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 1;
    float: left;
    border: 3px solid #ff3c00; }
  @media screen and (max-width: 450px) {
    .campaign-info-wrapper h2 {
      margin-top: -30px; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .campaign-info-wrapper h2 {
      margin-top: -30px; } }
  .campaign-info-wrapper .campaign-list {
    list-style-type: none;
    padding: 0; }
    .campaign-info-wrapper .campaign-list .campaign-unit {
      padding: 10px;
      border: 1px solid #d9f4ff; }
      .campaign-info-wrapper .campaign-list .campaign-unit h3 {
        display: inline; }
      .campaign-info-wrapper .campaign-list .campaign-unit img {
        width: 70px; }
      .campaign-info-wrapper .campaign-list .campaign-unit:before {
        position: absolute;
        right: -12px;
        font-family: street;
        content: '\0059';
        color: #fdc415;
        font-size: 20px;
        margin-left: 10px; }

.feature {
  color: #000;
  background-color: #d9f4ff;
  margin-left: 1%;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
  padding: 10px 2px;
  width: 19%;
  height: 50px;
  cursor: url(../images/info.png), auto; }
  @media screen and (max-width: 1200px) {
    .feature {
      width: 100%;
      margin-bottom: 5px; } }
  .feature .description {
    display: none;
    color: transparent; }
  .feature img {
    color: #000;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in;
    height: 30px; }
  .feature:hover img {
    color: transparent;
    display: none; }
  .feature:hover .description {
    display: block;
    color: #000; }
  @media screen and (max-width: 1200px) {
    .feature:hover {
      height: 68px; } }

ul#features li {
  width: 19%;
  margin: .5%;
  list-style: none;
  color: #000;
  background-color: #d9f4ff;
  text-align: center;
  font-size: 14px;
  line-height: 68px;
  padding: 10px 2px;
  height: 57px;
  cursor: url(../images/info.png), auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 30px; }
  ul#features li.kosher {
    background-image: url(../images/my-icons/kosher.svg); }
  ul#features li.meat {
    background-image: url(../images/my-icons/meat.svg); }
  ul#features li.dairy {
    background-image: url(../images/my-icons/cheese.svg); }
  ul#features li.fish {
    background-image: url(../images/my-icons/fish.svg); }
  ul#features li.delivery {
    background-image: url(../images/my-icons/Helmet.svg); }
  ul#features li.draft-beer {
    background-image: url(../images/my-icons/Bar.svg); }
  ul#features li.shade {
    background-image: url(../images/my-icons/Beach.svg); }
  ul#features li.child-friendly {
    background-image: url(../images/my-icons/Children.svg); }
  ul#features li.gluten-free {
    background-image: url(../images/my-icons/gluten-free.svg); }
  ul#features li.vegan-friendly {
    background-image: url(../images/my-icons/Healthy.svg); }
  ul#features li.accessible {
    background-image: url(../images/my-icons/Wheelchair.svg); }
  ul#features li.oil-painting {
    background-image: url(../images/my-icons/paint-palette.svg); }
  ul#features li.ceramics {
    background-image: url(../images/my-icons/pottery.svg); }
  ul#features li.knitting {
    background-image: url(../images/my-icons/knitting.svg); }
  ul#features li.sewing {
    background-image: url(../images/my-icons/needle.svg); }
