$font-stack:   'Assistant',  Helvetica, sans-serif;
$primary: #c0f1ff;
$secondary: #ff3c00;
$theme-color2:#1060b1;
$theme-color2-bright:#c7efff;
$yellow:#fdc415;
$pink:#FD1576;
$text1:#fff;
$text2:#000;
$brand:#000;

 

// media variable
$break-xs: 450px;
$break-sm: 568px;
$break-md: 768px;
$break-lg: 1200px;

// scrollbar
section{
::-webkit-scrollbar {
    width: 20px;
    @media screen and (max-width: $break-xs) { width: 5px; }
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $theme-color2; 
}
}


// mixing

// titles
@mixin big-title-bold{
  color: #000;
  font-size: 40px;
  font-weight: 700;
}
@mixin big-title-regular{
  color: #000;
  font-size: 40px;
  font-weight: 400;
}
@mixin medium-title-bold{
  color: #000;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
@mixin medium-title-regular{
  color: #000;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
@mixin small-title-bold{
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
@mixin small-title-regular{
  color: #000;
  font-size: 20px;
  font-weight: 400;
}



@mixin linear-gradient($direction, $color-stops...) {
background: nth(nth($color-stops, 1), 1);
background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
background: linear-gradient($direction, $color-stops);
}

@mixin menu-button{
color: $theme-color2;
background-color: #ffffff;
font-size: 30px;
border: none;


.menu-icon {
  color: $yellow;
  font-size: 25px;
  width: 30px;
  transition: color .2s ease;
}
    &:hover, &:active, &:focus{
      .menu-icon {
        color: $secondary;
      }
   
    }
}

@mixin menu-button-2{
width: 60px;
height: 60px;
color: $theme-color2;
background-color: #ffffff;
text-align: center;
font-size: 30px;
border: 3px solid $theme-color2-bright;
margin: 5px 5px;
-webkit-transition-property: background,color,box-shadow;
-moz-transition-property: background,color;
-o-transition-property: background,color;
transition-property: background,color;
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-webkit-transition-timing-function: linear;
-moz-transition-timing-function: linear;
-o-transition-timing-function: linear;
transition-timing-function: linear;

    &:hover{
    color: $text1;
    background-color: $theme-color2;
    }
}

@mixin shadow{
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
-webkit-transition-property: box-shadow;
-moz-transition-property: box-shadow;
-o-transition-property: box-shadow;
transition-property: box-shadow;
-webkit-transition-duration: .3s;
-moz-transition-duration: .3s;
-o-transition-duration: .3s;
transition-duration: .3s;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
    &:hover{
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.6);
    }
}
@mixin big-shadow{
  box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.6);
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
      &:hover{
      box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.6);
      }
  }


//visibility - info colun


.xs-visibility{
&.visibilityclose {
@media screen and (max-width: 767px), screen and (max-width: $break-md) and (orientation: landscape) { display: none; }
}
&.visibilityopen{
@media screen and (max-width: 767px), screen and (max-width: $break-md) and (orientation: landscape) { display:block; }
}
}

// animation
@-webkit-keyframes animationOpacity {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes animationOpacity {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@-o-keyframes animationOpacity{
0%   { opacity: 0; }
100% { opacity: 1; }
}
@keyframes animationOpacity {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@mixin fadeanimation{

}
// margings
.margin0{
margin:0 0 0 0;
}
.margin1{
margin:10px 0 0 0;
}
.margin2{
margin:20px 0 0 0;
}
.margin3{
margin:30px 0 0 0;
}
.padding0{
padding:0 0 0 0;
}


// grid
@media  screen and (max-width: $break-md) and (orientation: landscape) { .landscape-6 { width: 50% } .landscape-12{ width: 96%; }}

/* \/\/--- Jeneral ---\/\/ */
.display_none { display: none!important; }

body {  direction:rtl; text-align: right;  font-family: $font-stack; }

p { font-size: 16px;}

section { display: block;   margin-bottom: 20px;}

//labels

.label-bold { font-size: 35px; font-weight: 700;
@media screen and (max-width: $break-md) { font-size: 25px; }
@media  screen and (max-width: $break-md) and (orientation: landscape) { font-size: 20px;}
@media screen and (max-width: $break-xs) { font-size: 14px; }
}

.label-light{ font-size: 35px; font-weight:400;
@media screen and (max-width: $break-md) { font-size: 25px; }
@media  screen and (max-width: $break-md) and (orientation: landscape) { font-size: 20px; }
@media screen and (max-width: $break-xs) { font-size: 14px; }
}

.anderline{
  border-bottom: 3px solid $theme-color2;
  padding-bottom: 5px;
}


// cursor
.dragscroll{
cursor: url(../images/Cat-Track-icon.png), auto; 
overflow: scroll;
}
// a, button {
// cursor:url(../images/Cat-button-icon.png), auto; /* fallback: no `url()` support or images disabled */
// }

/* \/\/--- Top line ---\/\/ */

// header-address
.header-address{
@include linear-gradient(to right,$yellow, $secondary);
height: 50px;

// media       
@media screen and (max-width: $break-xs) { height: 24px; }
@media  screen and (max-width: $break-md) and (orientation: landscape) { height: 24px; }

.brand-cat{ 
img{
  width: 55px;
  padding: 7px 0px 3px 10px;

@media  screen and (max-width: $break-md) and (orientation: landscape) { right: 8px;  width: 45px;}
@media screen and (max-width: $break-xs), screen and (max-width: $break-md) and (orientation: landscape) { margin-top: 0px; width: 32px; }
}     
}
h1.main-address { color: $text1; line-height: 8px;
  @media screen and (max-width: $break-xs), screen and (max-width: $break-md) and (orientation: landscape) { margin-top: 0px; }
 }
}
/* \/\/--- header ---\/\/ */
.header{
  h2 { color: $secondary !important;
  @include big-title-regular;
  @media  screen and (max-width: 991px){
    font-size: 20px;
    text-align: center;
  }
  }
}
/* \/\/--- Intro -Event ---\/\/ */
#myCarousel{
  .list-group {
  position:absolute;
  top:0;
  right:0;
  }
  .list-group-item {
  border-radius:0px;
  cursor:pointer;
  &.active {
    background-color: $theme-color2;	
    color: #fff;
    .date-wrapper {
     color:#000;
      box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.27);
     }
    h4 { color: #fff; } 
    }
    h4 {
      display: inline;
       @include small-title-bold;
       color: $theme-color2;
       padding: 0;
       @media (max-width: 1199px) { 
        font-size: 18px;
       }
      }
     .date-wrapper{
        text-align: center;
        font-size: 19px;
        height: 100%;
        background-color: $primary;
        font-weight: bold;
        padding-top: 10px;
        .poster-date, .poster-hour { 
          display: block;
          @media (max-width: 1199px) { 
            font-size: 16px;
           }
        }
        
      }
      .poster-location {
        font-weight: bold;
        padding: 0;
        @media (max-width: 1199px) { 
          font-size: 16px;
         }
      }
  }
 .carousel-control{ 
  background-image: none;
  color: $theme-color2;
  opacity: 1;
  top: 47%;
  bottom: auto;
  width: 8%;
  @media  screen and (min-width: $break-xs) {
    width: 4%;
   }
 } 
@media (min-width: 992px) { 
 .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
.carousel-caption p,
.list-group {display:none;} 
}
.poster-header{
background-size: cover;
background-repeat: no-repeat;
height: 300px;
.credit{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 60px;
  width: 60px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
  &.merkazHaIr{
  background-image: url('../images/logo_merkazHair.png');
  background-position: center;
  background-size: 60px;
  background-repeat: no-repeat;
  border: 1px solid #e2e2e2;
  }
} 
&.yoga {
  background-image:url(../images/yoga.jpg);
}
&.bracelets {
  background-image:url(../images/poster2.jpg);
}
&.babysiters {
  background-image:url(../images/babysitter.jpg);
}
  @media screen and (max-width: $break-xs),screen and (max-width: $break-md) and (orientation: landscape) {
  background-image:inherit;
  background-color: $theme-color2-bright;
  padding-bottom: 5px;
  }
     .content-wrapper{
      animation-delay:.3s;
    @media  screen and (max-width: $break-md) and (orientation: landscape) {
    width: 50%;
   }
   @media  screen and (max-width: 991px ) {
     text-align: center;
   .details { line-height: 20px; font-size: 16px}
   }
  }

  .date-wrapper{
  padding: 15px;
  text-align:center;
  @media (min-width: 992px){
 display: none;
  }

  &:before, &:after{
    content:"";
    position: absolute;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    @media  screen and (max-width: 1067px) {height: 40px; width: 40px; }
    @media  screen and (max-width: 767px) {height: 60px; width: 60px; }
    @media  screen and (max-width: 424px) {height: 30px; width: 30px; }
  }

    date {
     @include big-title-bold;
    line-height: 1.3em;
    color: #fff;
    letter-spacing: 10px;
    .poster-date{ font-weight: 700; text-shadow: 1px -1px 6px #000; }
    .poster-hour{
    font-weight: bold;
    letter-spacing: 0.1em;
    display: block;
    background-color: $secondary;
    color:$text1;
    line-height: 1em;
    padding: 5px 0 0 13px;
    @media screen and (max-width: $break-xs) { padding-bottom: 10px;}
    }
    @media screen and (max-width: $break-xs) {
      text-align: center;
      font-size: 30px;
      }
   }
  .poster-location{
  color:#fff;
  background-color:$secondary;
  font-size:20px;
  margin: -12px 0 0 0;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px;
  }
}
    h2 {   
    @include big-title-bold;
    color:#fff;
    font-weight: 700;
    text-shadow: 1px -1px 6px #000;
       @media  screen and (max-width: $break-md) and (orientation: landscape) {
      font-size: 20px;
      }
      @media screen and (max-width: 991px) {
        font-size: 30px;
        margin: 0 0 10px 0;
       }
      @media screen and (max-width: $break-xs) {
        font-size: 24px;
        margin: 0 0 10px 0;
        text-align: center
       }
    }
  .details {
  @include medium-title-bold;
  line-height: 1.3em;
  font-weight: 700;
  color:#fff;
  text-shadow: 1px -1px 2px #000;
  @media screen and (max-width: $break-xs) {
  margin: 0;
  text-align: center;
  font-size: 16px;
  }
  @media  screen and (max-width: 991px) {
  font-size: 16px;
  }
 }
.small-p {
  @include small-title-bold;
  color:#fff;
  @media screen and (max-width: $break-xs) {
    font-size: 14px;
    }
    @media  screen and (max-width: 991px) {
      font-size: 14px;
      }
}
}
}

.content-changer-map-buttons{
  h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 5px 5px;
    @media screen and (max-width: $break-md){
      font-size: 20px;
      color: $theme-color2;
      font-weight: 700;
         }
  }
  @media screen and (max-width: $break-md){
    text-align: center;

         }
}
.buttons-changer-wrapper{
  @media screen and (max-width: $break-xs){
    padding: 5px;
         }
  .content-changer-info-buttons{
    padding: 0 10px 0px 5px;
  @media screen and (max-width: $break-md){
    text-align: center;
        }
   @media screen and (max-width: $break-xs){
      padding: 0 0px;
         }
  button{
  @include menu-button;
  @media screen and (max-width: 1557px){
font-size: 18px;
    }
  }
  }
}
/*map*/
.map-wrapper{
overflow: scroll;
height: 2000px;
position: relative;
border: 2px solid #e2e2e2;
@media screen and (max-width: $break-xs){
  height: 1424px;
  }
  img{
  width: 1700px;
  position: absolute;
  top: -70px;
  right: -317px;
  @media screen and (max-width: $break-xs){
    width: 1067px;
    top: -8px;
    right: -174px;
    }
  }

}

// close-button
.street-info-wrapper, .campaign-info-wrapper, .business-info-wrapper{
.top-close{
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
background-color:$theme-color2;
border: none;
padding: 0;
@include shadow;
.close{
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 10px;
  overflow: hidden;
  opacity: 1;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
  }
  &::before {
    transform: (rotate(45deg));
  }
  &::after {
  transform: (rotate(-45deg));
  }

  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }

}
}
background-color:#fff;
@media  screen and (max-width: $break-md){
  position:absolute;
  top: -35px;
  right: 0;
  background-color: #fff;
  }
@media  screen and (max-width: $break-md) and (orientation: landscape) {
position:absolute;
top: 0px;
padding: 0px 0 10px 0;
background-color: #fff;
}

h2{
font-size: 30px;
line-height: 1em;
font-weight: 700;
}
.menu-external-links{
  button{ @include menu-button-2;  }
}
.gallery-wrapper{
  padding-right: 0px;
.picture-unit{
@media screen and (max-width: $break-xs), screen and (max-width: $break-lg){
width:100%;
}
position: relative;
width: 46%;
float: right;
height: 230px;
margin: 2%;
padding: 0;
overflow: hidden;
img{
  max-width: fit-content;
  min-width: 100%;
  height: auto;

}

}
.picture-ïnfo{
position: absolute;
top:0px;
right:0px;
width: 50px;
height: 50px;
background: rgba(0, 0, 0, 0.63);
text-align: center;
color:$text1;
-webkit-transition: width,height,background; /* Safari */
transition: width,height,background;
-moz-transition:width,height,background;
-o-transition:width,height,background;
-webkit-transition-duration: .3s;
-moz-transition-duration: .3s;
-o-transition-duration: .3s;
transition-duration: .3s;
.icon{
color: $yellow;
font-size: 20px;
line-height: 28px;
height: 30px;
width: 30px;
background-color: #fff;
border-radius: 50%;
margin: 10px 0px;
border: 2px solid $theme-color2-bright;
}
p{
font-family: $font-stack;
font-size: 20px;
display: none;
}
&:hover{
width: 100%;
height: 268px;
background: rgba(0, 0, 0, 0.63);
p{
display:block;
-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
animation-delay: 2s;
-o-animation:2s;
-moz-animation:2s;
-webkit-animation: animationOpacity 2s linear; /* Safari 4+ */
-moz-animation:animationOpacity 2s linear; /* Fx 5+ */
-o-animation:animationOpacity 2s linear; /* Opera 12+ */
animation:animationOpacity 2s linear; /* IE 10+, Fx 29+ */
width:100%;
padding: 10px;
}
}
}
}
}

/*map tabs*/
.buisness-tabs{
//  lengthwise-icons
&.lengthwise-icon{
    &.right-icon{
      li{
        &.action{
          &:hover{
            &:after{
            top: 9px;
            right: -22px;
            }
        }
      &:after{
      top: 13px;
      right: -15px;
      }
    }
    a span.icon{
    float: right;
    right: -5px;
    }
    }
    }

      &.left-icon{
      li{
      margin-bottom: 10px;
      &.action{
        &:hover{
          &:after{
          top: 9px;
          right:auto;
          left:-17px;
          @media screen and (max-width: $break-xs), screen and (max-width: $break-lg){
            top: 3px;
            }
          }
        }
    &:after{
    top: 13px;
    right:auto;
    left: -13px;
    @media screen and (max-width: $break-xs), screen and (max-width: $break-lg){
      top: 8px;
      }
    }
    }
    a span.icon{
    float: left;
    right: 5px;

    }
  }
}

}
//  end-lengthwise-icons
&.crosswise-icon{
ul{
overflow: hidden;
&.width485{width: 485px;}
&.width560{width: 560px;}
li{
float: left;
margin: 23px 0 30px 13px;
@media screen and (max-width: $break-xs){
  margin: 23px 0 30px 5px;
       }
a{
height:122px;
width: 61px;
display: block;
@media screen and (max-width: $break-xs){
  height:100px;
width: 44px;
       }
}
}
}
//  bottom-icon 
&.bottom-icon{
ul li {
a{
padding-top: 5px;
text-align: center;
}
&.action{
&:hover{
&:after{
top: 110px;
right: 13px
}
}
&:after{
top: 110px;
right: 19px
}
}
a span.icon{
position: absolute;
bottom: 0px;
top: auto;
right: 0;

}
.business-name{
position: relative;
margin-top: -30px;
}
}
}
// top-icon
&.top-icon{
ul li {
a{
padding-top: 0px;
text-align: center;
}
&.action{
  &:after{
    top: -23px;
    right: 18px;
    @media screen and (max-width: $break-xs) {
      right: 10px
       }
    }
&:hover{
&:after{
top: -23px;
right: 13px;
@media screen and (max-width: $break-xs) {
  right: 5px
   }
}
}
&:after{
top:-12px;
right: 19px;
@media screen and (max-width: $break-xs) {
  right: 10px
   }
}
}
a span.icon{
bottom: 61 ;
top: auto;
right: 5px;

}
.business-name{
position: relative;
}
}
}
}
}
/*map events*/
.local-event {
  position: absolute;
  width: 230px;
  height: auto;
  color: black;
  background-color: #c7efff;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #000000;
  text-align: center;
  padding: 5px;
  .date, .hour{
    display: block;
    font-weight: 700;
  }
  &:before, &:after{
    content:"";
    position: absolute;
    bottom: 5px;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
  }
  &.position-top-449{
    top: 449px;
    right: 283px;
    @media screen and (max-width: $break-xs) {
      top: 300px;
      right: 164px;
       }
    &::before{background-image: url(../images/my-icons/cat1.svg);background-position: right 10px; right: 5px;}
    &:after{ transform:scaleX(-1);background-image: url(../images/my-icons/cat1.svg);background-position: left 10px; left: 5px;}
  } 
  &.position-top-1500px{
    top: 1500px;
    right: 283px;
    @media screen and (max-width: $break-xs) {
      top: 996px;
      right: 182px;
       }
    &::before{background-image: url(../images/my-icons/bycicle.svg); background-position: right 0px; right: 5px;}
    &:after{ transform:scaleX(-1);background-image: url(../images/my-icons/cat3.svg); background-position: left 0px;width: 40px; left: 5px;}
  } 
}

.business-map{
position: absolute;
// groups positions
      &.position1{
      top: 94px;
      right: 35px;
      @media screen and (max-width: $break-xs) {
        top: 49px;
        right: -22px;
         }
      }
      &.position2{
      top: 141px;
      right: 239px;
      @media screen and (max-width: $break-xs) {
        top: 78px;
        right: 125px;
         }
      }
      &.position3{
      top: 94px;
      right: 546px;
      @media screen and (max-width: $break-xs) {
        top: 49px;
        right: 308px;;
         }
      }
      &.position4{
      top: 94px;
      right: 239px;
      @media screen and (max-width: $break-xs) {
        top: 49px;
        right: 123px;
         }
      }
      &.position5{
      top: 331px;
      right:607px;
      @media screen and (max-width: $break-xs) {
        top: 214px;
        right: 369px;
         }
      }
      &.position6{
      top: 486px;
      right: 991px;
      @media screen and (max-width: $break-xs) {
        top: 350px;
        right: 599px;
         }
      }
    &.position7{
      top: 1400px;
      right: 35px;
      @media screen and (max-width: $break-xs) {
        top: 890px;
        right: -21px;
         }
      }
      &.position8{
      top: 2105px;
      right: 929px;
      @media screen and (max-width: $break-xs) {
        top: 1305px;
        right: 567px;
         }
      }

@media screen and (max-width: $break-xs) {
right: 10px;
}
li{  
&.active{
outline: 3px solid $theme-color2-bright;
a{
box-shadow: none;
}
}      
&:hover{
a span.icon{
background-color: #0b3967;
}
}
    &.action{
      &.campaign:after{ content: '\e000'; background-color: $yellow;}
      &.party:after{ content: '\78'  ; background-color : $pink ; }
      &:after{
        font-family: st;
        font-size: 18px;
        color: #ffffff;
        position: absolute;
        top: 13px;
        height: 25px;
        width: 25px;
        text-align: center;
        border-radius: 50%;
        -webkit-transition-property: height,width,top,font-size;
        -moz-transition-property: height,width,top,font-size;
        -o-transition-property: height,width,top,font-size;
        transition-property:height,width,top,font-size;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
          }
          &:hover{
                  &:after{
                  height: 35px;
                  width: 35px;
                  font-size: 25px;
                  top: 9px;
                  }
                 }
    }
a{
@include shadow;
padding: 10px 5px;
height: 61px;
width: 122px;
background-color:#fff !important;
color: $theme-color2;
font-weight: 700;
font-size: 14px;
line-height: 18px;
@media screen and (max-width: $break-xs) {
  height: 44px;
  width: 105px;
  padding: 5px 5px;
  font-size: 12px;
line-height: 14px;
  }
span.icon{
float: left;
color: #fff;
background-color: $theme-color2;
height: 61px;
width: 61px;
position: relative;
top: -10px;
text-align: center;
line-height: 58px;
font-size: 30px;
-webkit-transition-property:background-color;
-moz-transition-property: background-color;
-o-transition-property: background-color;
transition-property: background-color;
-webkit-transition-duration: .3s;
-moz-transition-duration: .3s;
-o-transition-duration: .3s;
transition-duration: .3s;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function:  ease-out;
-o-transition-timing-function:  ease-out;
transition-timing-function:  ease-out;
@media screen and (max-width: $break-xs) {
  height: 44px;
  width: 44px;
  line-height: 50px;
  font-size: 25px;
  top: -5px;
  }
}
}
}
}


// business-info
.business-info-wrapper {
  position: relative;
  top: 0px;
  bottom: auto; 
  right: auto;
  left: 10px;
  padding: 0;
  width: 33%;
  @media screen and (max-width: $break-md){
    width: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    height: 100%;
      }
      
  h3 { 
    @include medium-title-bold;
   .anderline{ padding: 0px 10px 5px 0px;}
   text-align: center;
  }
  h4 { 
    @include small-title-bold;
    display: inline-block;
    background-color: #d9f4ff;
    padding: 0px 5px;
  }
  .tab-content {
    position: relative;
    padding: 0;
    li {
      padding: 0;
  .street-view{
    width: 100%;
    height: auto;
  }
  .portrait{
    position: absolute;
    z-index: 1;
    top: -2px;
    right: 0px;
    img{
    height: 70px;
    width: 70px;
    border: 2px solid $theme-color2;
    box-shadow: 0px 8px 17px 3px rgba(0, 0, 0, 0.2);
    }
  }
  .campaign-text {
    border: 1px solid #e2e2e2;
    padding: 5px;
    @media screen and (max-width: $break-md){
      margin: 10px 10px 0 10px;
        }
   p{ font-size: 20px;
  .action{
    &:before{
    padding: 3px;
    text-align: center;
    font-size: 18px;
     color:#fff;
     border-radius: 50%;
    }
      &.campaign{
        &:before{
      font-family: st;
      content: '\e000';
      background-color: #fdc415;
        }
    }
  }
    &.party{
      &:before{
      font-family: st;
      content: "\78";
      background-color: #FD1576;
      }
    }

   }
  }
}

}
.opening-hours-info {
  padding: 0px 10px;
  .hours{ direction: ltr; }
  .day{
    font-weight: 700;
  }
}
.features-wrapper{
  border-bottom: 3px solid $theme-color2-bright;
padding: 0;
@media screen and (max-width: $break-xs){
  background-color: transparent;
    }
#features {
padding: 0;
@media screen and (max-width: $break-lg){
  padding: 1%;
    }
  li{   position: relative;
    width: 25%;
    list-style: none;
    color: #fff;
     text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 2px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center 15px;
    background-size: 30px;
    @media screen and (max-width: $break-xs){
      font-size: 10px;
        }

    @media screen and (max-width: $break-xs){
      width: 23%;
      margin: 1%;
        }

  .description{
    position: absolute;
    border-left: 2px solid $theme-color2-bright;
    bottom: 0px;
    right: 0;
    background-color: $theme-color2;
    width: 100%;
    font-weight: 700;
  }

  &.kosher {  background-image: url(../images/my-icons/kosher.svg)}
  &.meat { background-image: url(../images/my-icons/meat.svg)}
  &.dairy { background-image: url(../images/my-icons/cheese.svg)}
  &.fish { background-image: url(../images/my-icons/fish.svg)}
  &.delivery { background-image: url(../images/my-icons/Helmet.svg)}
  &.draft-beer { background-image: url(../images/my-icons/Bar.svg)}
  &.shade { background-image: url(../images/my-icons/Beach.svg)}
  &.child-friendly { background-image: url(../images/my-icons/Children.svg)}
  &.gluten-free { background-image: url(../images/my-icons/gluten-free.svg)}
  &.vegan-friendly { background-image: url(../images/my-icons/strawberry.svg)}
  &.accessible { background-image: url(../images/my-icons/Wheelchair.svg)}
  &.oil-painting { background-image: url(../images/my-icons/paint-palette.svg)}
  &.ceramics { background-image: url(../images/my-icons/pottery.svg)}
  &.knitting { background-image: url(../images/my-icons/knitting.svg)}
  &.sewing { background-image: url(../images/my-icons/needle.svg)}
}
}
}
.contacts-wrapper{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: $theme-color2;
  margin-top: 10px;
  a.social{
    text-decoration: none;
    font-size: 30px;
    border-top: 3px solid #1060b1;
    padding: 15px;
    @media screen and (max-width: $break-lg){
      margin-top: 10px;
      }
  }
}
}
// campaigns-info
.campaign-info-wrapper{
  h3 {padding-bottom: 20px;}
  .sales-list {
   ul { list-style: none; padding: 0;
    li {
      position: relative;
       margin-bottom: 20px;
       text-align: center;
       width: 100%;
       border: 1px solid $theme-color2;;
       padding-bottom: 10px;

    .icons { 
     &::before{
     display: block;
     font-size: 30px;
     position: absolute;
     background-color: #fff;
     color: $theme-color2;
     padding: 10px;
     top: -10px;
     right: -10px;
     border: 3px solid $theme-color2-bright;
    } 
    }
    .business-name {
    display: block;
     margin-top: -3px;
    font-size: 26px;
    line-height: 47px;
    }
    .business-cmc-name{
      font-size: 20px;
      color: $theme-color2;
      font-weight: bold;
    }
    .campaign-string {
       display: block;
       font-size: 20px;
       color: $theme-color2;
      }
   }
  }
}
font-size: 18px;
h2{
@media screen and (max-width: $break-xs){
margin-top: -30px;
}
@media  screen and (max-width: $break-md) and (orientation: landscape) {
margin-top: -30px;
}
}
.campaign-list{
list-style-type: none;
padding: 0;
.campaign-unit{
padding: 10px;
border:1px solid $theme-color2-bright;
h3{
display:inline;
}
img{
width: 70px;
}
&:before{
position: absolute;
right: -12px;
font-family: street;
content: '\0059';
color: $yellow;
font-size: 20px;
margin-left: 10px;
}
}
}
}


      @keyframes jssorl-009-spin {
          from {
              transform: rotate(0deg);
          }

          to {
              transform: rotate(360deg);
          }
      }
// slider navigation
.jssorb031 { position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031 .i.idn {opacity:.3;}
// slider arrows

.slider-wrapper {
  min-height: 50px;
  .slider-container{
    visibility: hidden;
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 1300px;
    min-height: 200px;
    overflow: hidden;
    .loading{
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      text-align:center;
      background-color:rgba(0,0,0,0.7);
      img{
        margin-top:-19px;
        position:relative;
        top:50%;
        width:38px;
        height:38px;
      }
    }
    .slides{
      position: absolute;
      left: 0px;
      top: 0px;
      width: 1300px;
      height: 300px;
      overflow: hidden
    }
    .navigator{
      position:absolute;bottom:12px;right:12px;
      .i {
        width:16px; height:16px;
        svg { position:absolute; top:0; left:0; width:100%; height:100%;}
      }
    }
    .arrows{
      display:block;
      position:absolute;
      cursor:pointer;
      width:55px;
      height:55px;
      top:0px;
      &:hover {opacity:.8;}
      .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
      svg{ position:absolute; top:0; left:0; width:100%; height:100%;}
      &.arrow-left { left: 25px;}
      &.arrow-right { right: 25px;}
    }
  }
 }

//  footer
.footer {
  background-color: $secondary;
  margin-top: 30px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  a { color: #fff; }
  .contacts { text-align: left;}
  img{
    width: 40px;
    @media screen and (max-width: $break-xs){
      width: 20px;
      }
  }
} 


// 

