$font-stack:   'Assistant',  Helvetica, sans-serif;
$primary: #c0f1ff;
$secondary: #ff3c00;
$theme-color2:#1060b1;
$theme-color2-bright:#d9f4ff;
$yellow:#fdc415;
$pink:#FD1576;
$text1:#fff;
$text2:#000;
$brand:#000;

 

// media variable
$break-xs: 450px;
$break-sm: 568px;
$break-md: 768px;
$break-lg: 1200px;

// scrollbar
section{
::-webkit-scrollbar {
    width: 20px;
    @media screen and (max-width: $break-xs) { width: 5px; }
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $theme-color2; 
}
}


// mixing

// titles
@mixin big-title-bold{
  color: #000;
  font-size: 60px;
  font-weight: 700;
}
@mixin big-title-regular{
  color: #000;
  font-size: 60px;
  font-weight: 400;
}
@mixin medium-title-bold{
  color: #000;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
@mixin medium-title-regular{
  color: #000;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
@mixin small-title-bold{
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
@mixin small-title-regular{
  color: #000;
  font-size: 20px;
  font-weight: 400;
}



@mixin linear-gradient($direction, $color-stops...) {
background: nth(nth($color-stops, 1), 1);
background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
background: linear-gradient($direction, $color-stops);
}

@mixin menu-button{
color: $theme-color2;
background-color: #ffffff;
font-size: 30px;
border: none;
margin: 5px 5px;

.menu-icon {
  color: $yellow;
  font-size: 25px;
  width: 30px;
  transition: color .2s ease;
}
    &:hover{
      .menu-icon {
        color: $secondary;
      }
   
    }
}

@mixin menu-button-2{
width: 60px;
height: 60px;
color: $theme-color2;
background-color: #ffffff;
text-align: center;
font-size: 30px;
border: 3px solid $theme-color2-bright;
margin: 5px 5px;
-webkit-transition-property: background,color,box-shadow;
-moz-transition-property: background,color;
-o-transition-property: background,color;
transition-property: background,color;
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-webkit-transition-timing-function: linear;
-moz-transition-timing-function: linear;
-o-transition-timing-function: linear;
transition-timing-function: linear;

    &:hover{
    color: $text1;
    background-color: $theme-color2;
    }
}

@mixin shadow{
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
-webkit-transition-property: box-shadow;
-moz-transition-property: box-shadow;
-o-transition-property: box-shadow;
transition-property: box-shadow;
-webkit-transition-duration: .3s;
-moz-transition-duration: .3s;
-o-transition-duration: .3s;
transition-duration: .3s;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
    &:hover{
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.6);
    }
}
@mixin big-shadow{
  box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.6);
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
      &:hover{
      box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.6);
      }
  }


//visibility - info colun


.xs-visibity{
&.visibityclose {
@media screen and (max-width: $break-xs), screen and (max-width: $break-md) and (orientation: landscape) { display: none; }
}
&.visibityopen{
@media screen and (max-width: $break-xs), screen and (max-width: $break-md) and (orientation: landscape) { display:block; }
}
}

// animation
@-webkit-keyframes animationOpacity {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes animationOpacity {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@-o-keyframes animationOpacity{
0%   { opacity: 0; }
100% { opacity: 1; }
}
@keyframes animationOpacity {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@mixin fadeanimation{

}
// margings
.margin0{
margin:0 0 0 0;
}
.margin1{
margin:10px 0 0 0;
}
.margin2{
margin:20px 0 0 0;
}
.margin3{
margin:30px 0 0 0;
}
.padding0{
padding:0 0 0 0;
}


// grid
@media  screen and (max-width: $break-md) and (orientation: landscape) { .landscape-6 { width: 50% } .landscape-12{ width: 96%; }}

/* \/\/--- Jeneral ---\/\/ */
.display_none { display: none!important; }

body {  direction:rtl; text-align: right;  font-family: $font-stack; }

p { font-size: 16px;}

section { display: block;   margin-bottom: 20px;}

//labels

.label-bold { font-size: 35px; font-weight: 700;
@media screen and (max-width: $break-md) { font-size: 25px; }
@media  screen and (max-width: $break-md) and (orientation: landscape) { font-size: 20px;}
@media screen and (max-width: $break-xs) { font-size: 14px; }
}

.label-light{ font-size: 35px; font-weight:400;
@media screen and (max-width: $break-md) { font-size: 25px; }
@media  screen and (max-width: $break-md) and (orientation: landscape) { font-size: 20px; }
@media screen and (max-width: $break-xs) { font-size: 14px; }
}

.anderline{
  border-bottom: 3px solid $theme-color2;
  padding-bottom: 5px;
}

//arrow
.arrow-right {
border-top: 19px solid transparent;
border-bottom: 19px solid transparent;
border-left: 19px solid $theme-color2-bright;
}


// cursor
.dragscroll{
cursor: url(../images/Cat-Track-icon.png), auto; 
overflow: scroll;
}
// a, button {
// cursor:url(../images/Cat-button-icon.png), auto; /* fallback: no `url()` support or images disabled */
// }

/* \/\/--- Top line ---\/\/ */

// header-address
.header-address{
@include linear-gradient(to right,$yellow, $secondary);
height: 50px;

// media       
@media screen and (max-width: $break-xs) { height: 24px; }
@media  screen and (max-width: $break-md) and (orientation: landscape) { height: 24px; }

.brand-cat{ 
img{
width: 100%;
@media screen and (max-width: $break-md) { margin-top: 15px; }
@media  screen and (max-width: $break-md) and (orientation: landscape) { right: 8px;  width: 32px;}
@media screen and (max-width: $break-xs), screen and (max-width: $break-md) and (orientation: landscape) { margin-top: 0px; }
}     
}
h1.main-address { color: $text1; line-height: 8px;
  @media screen and (max-width: $break-xs), screen and (max-width: $break-md) and (orientation: landscape) { margin-top: 0px; }
 }
}

/* \/\/--- Intro -Event ---\/\/ */

.poster-header{
background-image:url(../images/poster2.jpg);
background-size: cover;
background-repeat: no-repeat;
  @media screen and (max-width: $break-xs),screen and (max-width: $break-md) and (orientation: landscape) {
  background-image:inherit;
  background-color: $theme-color2-bright;
  padding-bottom: 5px;
  }
  .header {
    .content-wrapper{
      animation-delay:.3s;
    @media  screen and (max-width: $break-md) and (orientation: landscape) {
    width: 50%;
   
     }
   }
  }

  .date-wrapper{
  padding: 20px;
  text-align:center;
  @media screen and (max-width: $break-xs) {padding: 0px;}
  @media  screen and (max-width: $break-md) and (orientation: landscape) {
  width: 50%;
  }
    date {
    font-size:60px;
    font-family: 'Poppins';
    line-height: 1.3em;
    color: $secondary;
    .poster-date{  font-weight: 700;}
    .poster-hour{
    font-weight: 300;
    letter-spacing: 0.1em;
    display: block;
    background-color: $secondary;
    color:$text1;
    line-height: 1em;
    padding: 5px 0 0 0;
    }
   }
  .poster-location{
  color:$text1;
  background-color:$secondary;
  font-size:20px;
  margin-top: -12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px;
  }
}
    h2 {   
    color:$text2;
    font-size:60px;
    font-weight: 700;
      @media  screen and (max-width: $break-md) and (orientation: landscape) {
      font-size: 26px;
      }
      @media screen and (max-width: $break-xs) {
        font-size: 26px;
        margin: 0;
        text-align: center
       }
    }
  p {
  font-size: 30px;
  line-height: 1.3em;
  font-weight: 700;
  @media screen and (max-width: $break-xs) {
  font-size: 26px;
  margin: 0;
  text-align: center
  }
  @media  screen and (max-width: $break-md) and (orientation: landscape) {
  font-size: 26px;
  }
 }
}


.content-changer-map-buttons{
  h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 5px 5px;
    @media screen and (max-width: $break-md){
      font-size: 18px;
      font-weight: 700;
      color: $theme-color2;
           }
  }
  @media screen and (max-width: $break-md){
    text-align: center;
    background-color: #e2e2e2;
         }
}
  .content-changer-info-buttons{
  @media screen and (max-width: $break-md){
    text-align: center;
        }
  button{
  @include menu-button;
  @media screen and (max-width: 1557px){
font-size: 18px;
padding: 0;
    }

  }
  }
/*map*/
.map-wrapper{
overflow: scroll;
height: 2000px;
position: relative;
border: 2px solid #e2e2e2;
  img{
  width: 1700px;
  position: absolute;
  top: -70px;
  right: -317px;
  }

}
.street-info-wrapper{
.top-close{
color:$secondary;
background-color: $theme-color2-bright;
border-radius: 50%;
height: 40px;
width: 40px;
opacity: 1;
float:left;
}
background-color:#fff;
@media screen and (max-width: $break-md){
position:absolute;
top: 0px;
right: 0;
padding: 0px 0 10px 0;
background-color: #fff;
}
@media  screen and (max-width: $break-md) and (orientation: landscape) {
position:absolute;
top: 0px;
padding: 0px 0 10px 0;
background-color: #fff;
}

h2{
font-size: 30px;
line-height: 1em;
font-weight: 700;
}
.menu-external-links{
  button{ @include menu-button-2;  }
}
.gallery-wrapper{
.picture-unit{

@media screen and (max-width: $break-xs), screen and (max-width: $break-lg){
width:100%;
}

position: relative;
width: 46%;
float: right;
height: 230px;
margin: 2%;
padding: 0;
overflow: hidden;
img{
  max-width: fit-content;
  min-width: 100%;
  height: auto;

}

}
.picture-ïnfo{
position: absolute;
top:0px;
right:0px;
width: 50px;
height: 50px;

background: rgba(0, 0, 0, 0.63);
text-align: center;
color:$text1;
-webkit-transition: width,height,background; /* Safari */
transition: width,height,background;
-moz-transition:width,height,background;
-o-transition:width,height,background;
-webkit-transition-duration: .3s;
-moz-transition-duration: .3s;
-o-transition-duration: .3s;
transition-duration: .3s;
.icon{
color: $yellow;
font-size: 20px;
line-height: 28px;
height: 30px;
width: 30px;
background-color: #fff;
border-radius: 50%;
margin: 10px 0px;
border: 2px solid $theme-color2-bright;
}
p{
font-family: $font-stack;
font-size: 20px;
display: none;


}
&:hover{
width: 100%;
height: 268px;
background: rgba(0, 0, 0, 0.63);
p{

display:block;
-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
animation-delay: 2s;
-o-animation:2s;
-moz-animation:2s;
-webkit-animation: animationOpacity 2s linear; /* Safari 4+ */
-moz-animation:animationOpacity 2s linear; /* Fx 5+ */
-o-animation:animationOpacity 2s linear; /* Opera 12+ */
animation:animationOpacity 2s linear; /* IE 10+, Fx 29+ */
width:100%;
padding: 10px;
}
}
}

}
}

/*map tabs*/
.buisness-tabs{
//  lengthwise-icons
&.lengthwise-icon{
    &.right-icon{
      li{
        &.action{
          &:hover{
            &:after{
            top: 9px;
            right: -22px;
            }
        }
      &:after{
      top: 13px;
      right: -15px;
      }
    }
    a span.icon{
    float: right;
    right: -5px;

    }
    }
    }

      &.left-icon{
      li{
      margin-bottom: 10px;
      &.action{
      &:hover{
      &:after{
      top: 9px;
      right:auto;
      left:-17px;
      }
      }
    &:after{
    top: 13px;
    right:auto;
    left: -13px;
    }
    }
    a span.icon{
    float: left;
    right: 5px;

    }
  }
}

}
//  end-lengthwise-icons




&.crosswise-icon{
ul{
overflow: hidden;
&.width441{width: 411px;}
&.width560{width: 560px;}
li{
float: left;
margin: 23px 0 30px 13px;
a{
height:122px;
width: 61px;

display: block;

}
}
}
//  bottom-icon 
&.bottom-icon{
ul li {
a{
padding-top: 5px;
}
&.action{
&:hover{
&:after{
top: 110px;
right: 13px
}
}
&:after{
top: 110px;
right: 19px
}
}
a span.icon{
bottom: -56px ;
top: auto;
right: 5px;

}
.business-name{
position: absolute;
margin-top: 0px;

}
}
}
// top-icon
&.top-icon{
ul li {
a{
padding-top: 0px;
}
&.action{
  &:after{
    top: -23px;
    right: 18px;

    }
&:hover{
&:after{
top: -23px;
right: 13px;

}
}
&:after{
top:-12px;
right: 19px
}
}
a span.icon{
bottom: 61 ;
top: auto;
right: 5px;

}
.business-name{
position: absolute;
margin-top: 67px;

}
}

}
}

}
/*map events*/
.local-event {
  position: absolute;
  width: 200px;
  height: auto;
  background-color: #fff;
  @include big-shadow;
  padding: 5px;
  .details { display: none;}
  &:hover{
    .details { display: block;}
  }
  &.position-top-449{
    top: 449px;
    right: 283px;
  } 
}

.business-map{
position: absolute;
&.position1{
top: 94px;
right: 35px;
}
&.position2{
top: 141px;
right: 239px;
}
&.position3{
top: 94px;
right: 474px;
}
&.position4{
top: 94px;
right: 239px;
}
&.position5{
top: 331px;
right:539px;
}
&.position6{
top: 486px;
right: 925px;
}

  &.position7{
    top: 1400px;
    right: 35px;
    }
  
@media screen and (max-width: $break-xs) {
right: 10px;
}
li{  
&.active{
outline: 3px solid $theme-color2-bright;
a{
box-shadow: none;
}
}      
&:hover{
a span.icon{
background-color: #0b3967;
}
}


    &.action{
      &.campaign:after{ content: '\e000'; background-color: $yellow;}
      &.party:after{ content: '\78'  ; background-color : $pink ; }
      &:after{
        font-family: st;
        font-size: 18px;
        color: #ffffff;
        position: absolute;
        top: 13px;
        height: 25px;
        width: 25px;
        text-align: center;
        border-radius: 50%;
        -webkit-transition-property: height,width,top,font-size;
        -moz-transition-property: height,width,top,font-size;
        -o-transition-property: height,width,top,font-size;
        transition-property:height,width,top,font-size;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;


          }
          &:hover{
                  &:after{
                  height: 35px;
                  width: 35px;
                  font-size: 25px;
                  top: 9px;
                  }

            }
    }
a{
@include shadow;
padding: 10px 5px;
height: 61px;
width: 122px;
background-color:#fff !important;
color: $theme-color2;
font-weight: 700;
font-size: 14px;
line-height: 18px;
&:focus{
outline: 3px solid  $theme-color2-bright;
}
span.icon{
float: left;
color: #fff;
background-color: $theme-color2;
height: 61px;
width: 61px;
position: relative;
top: -10px;

text-align: center;
line-height: 58px;
font-size: 30px;
-webkit-transition-property:background-color;
-moz-transition-property: background-color;
-o-transition-property: background-color;
transition-property: background-color;
-webkit-transition-duration: .3s;
-moz-transition-duration: .3s;
-o-transition-duration: .3s;
transition-duration: .3s;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function:  ease-out;
-o-transition-timing-function:  ease-out;
transition-timing-function:  ease-out;

}
}
}
}


// business-info
.business-info-wrapper {
  position: relative;
  top: 0px;
  bottom: auto; 
  right: auto;
  left: 10px;
  border: 2px solid #e2e2e2;
  padding: 0;
  width: 33%;
  @media screen and (max-width: $break-md){
    width: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    height: 100%;
      }
      
  h3 { 
    @include medium-title-bold;
.anderline{ padding: 0px 10px 5px 0px;}
  }
  h4 { 
    @include small-title-bold;
    display: inline-block;
    background-color: #d9f4ff;
    padding: 0px 5px;
  }
  .tab-content {
    position: relative;
    padding: 0;
    li {
      padding: 0;
  .street-view{
    width: 100%;
    height: auto;
  }
  .portrait{
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
    img{
    height: 55px;
    width: 55px;
    border: 2px solid #fff;
    box-shadow: 0px 8px 17px 3px rgba(0, 0, 0, 0.2);
    }
  }
  .campaign-text {
    border: 1px solid #e2e2e2;
    padding: 5px;
    margin: 5px;
    
  p{

    font-size: 20px;

  .action{
    &:before{
    padding: 3px;
    text-align: center;
    font-size: 18px;
     color:#fff;
     border-radius: 50%;
    }
      &.campaign{
        &:before{
      font-family: st;
      content: '\e000';
      background-color: #fdc415;
        }
    }
  }
    &.party{
      &:before{
      font-family: st;
      content: "\78";
      background-color: #FD1576;
      }
    }

   }
  }
}

}
.opening-hours-info {
  padding: 0px 10px;
  .day{
    font-weight: 700;
  }
}
.features-wrapper{
  background-color: $theme-color2-bright;
padding: 0;
#features {
padding: 0;
@media screen and (max-width: $break-lg){
  padding: 1%;
    }
  li{   position: relative;
    width: 25%;
    list-style: none;
    color: #fff;
     text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 2px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center 15px;
    background-size: 30px;

    @media screen and (max-width: $break-lg){
      width: 48%;
      margin: 1%;
        }
  .description{
    position: absolute;
    border-left: 2px solid $theme-color2-bright;
    bottom: 6px;
    right: 0;
    background-color: $theme-color2;
    width: 100%;
    font-weight: 700;
  }

  &.kosher {  background-image: url(../images/my-icons/kosher.svg)}
  &.meat { background-image: url(../images/my-icons/meat.svg)}
  &.dairy { background-image: url(../images/my-icons/cheese.svg)}
  &.fish { background-image: url(../images/my-icons/fish.svg)}
  &.delivery { background-image: url(../images/my-icons/Helmet.svg)}
  &.draft-beer { background-image: url(../images/my-icons/Bar.svg)}
  &.shade { background-image: url(../images/my-icons/Beach.svg)}
  &.child-friendly { background-image: url(../images/my-icons/Children.svg)}
  &.gluten-free { background-image: url(../images/my-icons/gluten-free.svg)}
  &.vegan-friendly { background-image: url(../images/my-icons/Healthy.svg)}
  &.accessible { background-image: url(../images/my-icons/Wheelchair.svg)}
  &.oil-painting { background-image: url(../images/my-icons/paint-palette.svg)}
  &.ceramics { background-image: url(../images/my-icons/pottery.svg)}
  &.knitting { background-image: url(../images/my-icons/knitting.svg)}
  &.sewing { background-image: url(../images/my-icons/needle.svg)}
}
}
}
.contact-wrapper{
  text-align: center;
  font-size: 20px;
  a{
    text-decoration: none;
  }
}
.social-wrapper{
  text-align: center;
  a.social{
    text-decoration: none;
    font-size: 30px;
    border-top: 3px solid #1060b1;
    padding: 15px;
    float: left;
  }
}
}
// campaigns-info
.campaign-info-wrapper{
  .sales-list {
   ul { list-style: none; padding: 0;
    li { margin-bottom: 15px;
    .icons { color: $secondary; margin-right: 5px;}
    .business-name { color: $theme-color2; font-weight: 700; margin-right: 5px;}
    .campaign-string { font-size: 20px; color: $theme-color2;}
   }
  }
}
font-size: 18px;

@media screen and (max-width: $break-xs){
position:absolute;
top: 0px;
right: 0;
padding: 0px 0 10px 0;
background-color: #fff;
}
@media  screen and (max-width: $break-md) and (orientation: landscape) {
position:absolute;
top: 0px;
padding: 0px 0 10px 0;
background-color: #fff;
}
.top-close{
color:$secondary;
background-color: $theme-color2-bright;
border-radius: 50%;
height: 40px;
width: 40px;
opacity: 1;
float:left;
border: 3px solid $secondary;
}
h2{
@media screen and (max-width: $break-xs){
margin-top: -30px;
}
@media  screen and (max-width: $break-md) and (orientation: landscape) {
margin-top: -30px;
}
}
.campaign-list{
list-style-type: none;
padding: 0;
.campaign-unit{
padding: 10px;
border:1px solid $theme-color2-bright;
h3{
display:inline;
}
img{
width: 70px;
}
&:before{
position: absolute;
right: -12px;
font-family: street;
content: '\0059';
color: $yellow;
font-size: 20px;
margin-left: 10px;
}
}
}
}






